Repository RawTherapee/RawTherapee, pull requests merged in 2019-04, with the labels that each got.

#5274 locallab: cleanup and small speedup for blur
  rtengine/improccoordinator.cc
  rtengine/iplocallab.cc
Labels: locallab

#5279 locallab: speedup for blur, also some cleanups
  rtengine/iplocallab.cc
Labels: locallab, performance

#5280 locallab: cleanup for retinex code
  rtengine/improcfun.h
  rtengine/iplocallab.cc
Labels: locallab

#5278 Theme RT 5.6, Smaller buttons and spacing
  rtdata/themes/RawTherapee-GTK3-20_.css
  rtdata/themes/TooWaBlue-GTK3-20_.css
  rtdata/themes/size.css
Labels: enhancement

#5287 Update Czech translation
  rtdata/languages/Czech
Labels: localization

#5225 small speedup for denoise
  rtengine/FTblockDN.cc
  rtengine/color.cc
  rtengine/color.h
  rtengine/improcfun.h
Labels: performance
