Repository RawTherapee/RawTherapee, pull requests merged in 2025-07, with the labels that each got.

#7285 Fix blurry GUI with HiDPI scaling
  rtgui/CMakeLists.txt
  rtgui/batchqueueentry.cc
  rtgui/batchqueueentry.h
  rtgui/bqentryupdater.cc
  rtgui/bqentryupdater.h
  rtgui/crophandler.cc
  rtgui/crophandler.h
  rtgui/cropwindow.cc
  rtgui/cropwindow.h
  rtgui/editcoordsys.h
  rtgui/editenums.h
  rtgui/filebrowserentry.cc
  rtgui/filebrowserentry.h
  rtgui/guiutils.cc
  rtgui/guiutils.h
  rtgui/hidpi.cc
  rtgui/hidpi.h
  rtgui/imagearea.cc
  rtgui/imagearea.h
  rtgui/lockablecolorpicker.cc
  rtgui/previewhandler.cc
  rtgui/previewhandler.h
  rtgui/previewwindow.cc
  rtgui/previewwindow.h
  rtgui/rtimage.cc
  rtgui/rtimage.h
  rtgui/rtscalable.cc
  rtgui/rtscalable.h
  rtgui/rtsigc.h
  rtgui/rtsurface.cc
  rtgui/thumbbrowserbase.cc
  rtgui/thumbbrowserbase.h
  rtgui/thumbbrowserentrybase.cc
  rtgui/thumbbrowserentrybase.h
  rtgui/thumbimageupdater.cc
  rtgui/thumbimageupdater.h
Labels: type: enhancement, scope: GUI

#7463 macOS ARM build fix
  tools/osx/macosx_bundle.sh
Labels: os: macOS, scope: distribution

#7379 Black and white level overrides for Samsung DNGs
  rtengine/camconst.json
  rtengine/dcraw.cc
  rtengine/dcraw.h
  rtengine/rawimage.cc
Labels: scope: calibration

#7413 Adapted Olympus lens name improvement
  rtengine/imagedata.cc
  rtengine/rtlensfun.cc
Labels: type: enhancement, scope: metadata

#7418 Canon EOS R5m2 support and masked areas support with LibRaw
  rtengine/camconst.json
  rtengine/rawimage.cc
Labels: scope: calibration

#7470 mac: fix local build
  CMakeLists.txt
  tools/osx/macosx_bundle.sh
Labels: os: macOS, scope: distribution
